# These should not be commited
set_environment.sh

# compressed formats
*.zip
*.gz

# wiki folder
*.wiki/

# data
DATA*
*oracles/
EXP*
checkpoints*
amr_corpus*
!EXPR

#
preprocess/jamr
preprocess/kevin

# external tools
smatch*
amr-evaluation/
fairseq-*

# virtual environments
.python-version
venv*/
cenv*/

# debug
PROGRESS
*.lprof
debug*
tmp*
TMP*

# other
__pycache__/
transition_amr_parser.egg-info/
# assumed used to store models
models/
!fairseq_ext/models
# assumed where data stored
data/

# python package
dist/

# cluster tools
jbsub_logs/
.jbsub_logs/

# vim
.vim/
*.swp
