[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "transition_neural_parser"
version = "0.0.15"
authors = [
  { name="GX", email="GX.Xu@ibm.com" },
]
description = "A small example package"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.ibm.com/mnlp/transition-amr-parser/tree/transition-neural-parser"
"Bug Tracker" = "https://github.ibm.com/mnlp/transition-amr-parser/issues"